name: GitHub Profile Summary Cards

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */24 * * *"

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - name: Generate profile summary cards
        uses: vn7n24fzkq/github-profile-summary-cards@main
        with:
          USERNAME: raquelvivi
          BRANCH_NAME: bear
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
